# Backend
backend/.env
backend/faiss_index/
backend/__pycache__/
venv/

# Frontend
frontend/node_modules/
frontend/build/

# Streamlit app
streamlit-app/data/
streamlit-app/__pycache__/
streamlit-app/.env

# General
.DS_Store